body {
    background-color: rgb(255,254,249);
}

.topLine {
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
}

.tag-home {
    margin-top: -45px;
    font-size: large;
    float: right;
    margin-right: 250px;
}

.tag-store {
    margin-top: -45px;
    font-size: large;
    float: right;
    margin-right: 170px;
}


.tag-about {
    margin-top: -45px;
    font-size: large;
    margin-right: 110px;
    float: right;
}

a {
    color: black; 
    text-decoration: none; 
}

/* -------------------------*/

.inMiddle {
    display: flex;
    justify-content: center;    
    align-content: center;      
    flex-wrap: wrap;
}

.title {
    margin-top: 30px;
    font-size: 100px;
    text-align: center;
}

.list {
    font-size: 24px;
}

.map {
    margin-top: 28px;
}

.left-tag {
    margin-top: -45px;
    margin-left: 120px;
    font-size: 20px;
}